<html>
  <head>
    <meta charSet="utf-8"></meta>
    <title>Sample Web APP</title>
    <meta name="description" content="List of great programmers and companies they were rejected by."></meta>
    <meta name="author" content="Jon Kuperman"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" type="text/css" href="http://bootswatch.com/flatly/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="http://bootswatch.com/assets/css/custom.min.css"></link>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Sample Web App</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="{{ url_for("user.userlist") }}">Member List</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {% if session.user_id %}
              <li><a href="{{ url_for("user.user") }}">Profile</a></li>
              {% endif %}
              {% if not session.user_id %}
              <li><a href="{{ url_for("user.login") }}">Login</a></li>
              <li><a href="{{ url_for("user.regist") }}">Register</a></li>
              {% endif %}

          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <h1>Member List Page</h1>
<div class="row">
  {% for u in user%}
  <div class="col-md-6 col-md-offset-3">

    <div class="media">
      <div class="media-left">

        <a href="{{ url_for('user.profileuser', id=u.id) }}">
          <img src="{{ url_for('static', filename='avatar/user_' + u.avatar|string + '.jpg') }}" alt="" />
        </a>
      </div>
      <div class="media-body">
        <h2><a href="{{ url_for("user.profileuser", id=u.id) }}">{{u.full_name}}</h2>
        <p>
          {{u.bio}}
        </p>
      </div>
    </div>
    <hr>

  </div>
  {% endfor %}
</div>

		</div>

			<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
			<script src="http://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
			<script src="http://bootswatch.com/assets/js/custom.js"></script>
		</body>
		</html>
<!DOCTYPE html>
